html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index {
  flex-direction: column;
}

.container>h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.bank-options {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bank-options a {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  transition: .2s ease-out;
}

.bank-options a:hover {
  box-shadow: 0px 5px 12px 8px rgba(0, 0, 0, 0.75);
}

.bank-options img {
  width: 40%;
}

.btn {
  background-color: white;
  padding: 10px 15px;
  border: 3px solid #f39220;
  border-radius: 5px;
  font-weight: 600;
  color: #f39220;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1rem 0;
}


.calculator {
  display: flex;
  justify-content: center;
}

.logic {
  margin-right: 4rem;
}

.logic a {
  font-size: 14px;
}

.logic h3 {
  margin: 1rem 0;
  font-size: 24px;
}

.money {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.money label {
  text-align: end;
  width: 30%;
  font-size: 18px;
}

.calculate-btn {
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#result {
  font-weight: 600;
}

@media (max-width: 768px) {
  .container>h1 {
    font-size: 2rem;
  }

  .bank-options a {
    width: 60%;
  }

  .bank-options img {
    width: 60%;
  }

  .money {
    flex-direction: column;
  }

  .money label {
    width: 100%;
    text-align: start;
    margin-bottom: 0.5rem;
  }

  .calculator {
    margin-bottom: 4rem;
  }

  .logic,
  .calculator {
    flex-direction: column;
  }

  .logic {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .container>h1 {
    font-size: 1.5rem;
  }

  .bank-options a,
  .bank-options img {
    width: 100%;
  }

  .btn {
    padding: 8px 10px;
    font-size: 14px;
  }

  .logic a {
    font-size: 12px;
  }

  .logic h3 {
    font-size: 20px;
  }
}
